*
{
  text-align:center;
  margin: 0px;
  padding:20px;
}
body
{
 background-image: url("../images/bgimage.jpg");
 background-color: #cccccc;
}

img.sticky
{
  position: sticky;
  top: 0;
  height:100px;
  width:100px;
  border-radius: 50px;
}